* {
  font-family: 'Kurale', serif;
}
.logo{
  width: 50px;
}
.cl{
  color: #bf1e2d;
}
.img-home{
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 35% 65% 56% 44% / 27% 47% 53% 73% ;
  border: 5px solid #bf1e2d;
}
.hg1{
  height: 500px;
}
.w-people{
  width: 100px;
  height: 100px;
}
.cl2{
  color: #ee653c ;
}
.slick-dots li.slick-active button:before {
  color: #bf1e2d;
  font-size: 20px;
}
.slick-dots{
  color: blue;
  font-size: 20px;
}
@media screen and (max-width : 460px) {
  
}
