* {
  font-family: 'Kurale', serif;
}
.logo{
  width: 50px;
}
.cl{
  color: #e42011;
}
.img-home{
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 35% 65% 56% 44% / 27% 47% 53% 73% ;
  border: 5px solid #e42011;
}
.hg1{
  height: 500px;
}
.w-people{
  width: 100px;
  height: 100px;
}
.cl2{
  color:  #e42011 ;
}
.card-img-top{
  height: 300px;
}
.bg{
  background-color: #ee653c;
}
.btn-danger{
  background-color: #e42011;
}
.slick-dots li button:before {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 20px;
}

@media screen and (max-width : 460px) {
  
}
