* {
  font-family: "Kurale", serif;
}
.logo {
  width: 50px;
}
.cl {
  color: #e42011;
}
.img-home {
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 35% 65% 56% 44% / 27% 47% 53% 73%;
  border: 5px solid #e42011;
}
.hg1 {
  height: 500px;
}
.hg2 {
  height: 350px;
}
.footer-img {
  width: 100%;
}
.w-people {
  width: 100px;
  height: 100px;
}
.cl2 {
  color: #e42011;
}
.card-img-top {
  height: 300px;
  border-radius: 0% 0% 0% 0%;
  transition: 0.5s;
}
.rad {
  border-radius: 0px 50px 0px 50px;
}
.rad1 {
  border-radius: 0px 50px 0px 130px;
}
.list-group-item {
  background-color: transparent;
  border: 0;
}
.bg {
  background-color: #ee653c;
}
.bg2 {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg1 {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-danger {
  background-color: #e42011;
}
.slick-dots li button:before {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 20px;
}
.menu-img {
  width: 250px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
}
.class {
  top: -39px;
  left: 80px;
}
.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: black;
  border-radius: 15% 15% 35% 35%;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid black;
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.loader::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  color: black;
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1s ease infinite;
}
.loading {
  width: 100%;
  height: 100vh;
  background-color: var(--bs-white);
  position: fixed;
  top: 0%;
  left: 0%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgb(245, 7, 7), 12px 0px rgba(255, 3, 3, 0.836),
      20px 0px rgb(253, 15, 15);
  }
  50% {
    box-shadow: 2px -5px rgba(255, 0, 0, 0.5), 12px -3px rgb(255, 10, 10),
      20px -2px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 2px -8px rgba(238, 3, 3, 0.918), 12px -5px rgb(241, 6, 6),
      20px -5px rgba(240, 1, 1, 0);
  }
}
@media screen and (max-width: 460px) {
  .img-home {
    border-radius: 0px 50px 0px 50px;
    border: 0px;
    margin-top: 50px;
    height: 350px;
  }
  .w-1001 {
    width: 100%;
  }
  .d-no {
    display: none;
  }
  .menu-img {
    width: 100%;
    border-radius: 0px 50px 0px 50px;
  }
  .slick-next {
    display: none !important;
  }
  .slick-prev {
    display: none !important;
  }
  .class{
    left: 120px;
  }
}
